parameters:
    level: 5
    paths:
        - journy-io.php
        - src/
    bootstrapFiles:
        - constants.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#.*WPCF7_Submission.*#'
        - '#.*ElementorPro.*#'
        -
        	message: '#Variable \$this might not be defined#'
        	path: src/views/dashboard-notices.php
        -
        	message: '#Variable \$this might not be defined#'
        	path: src/views/settings.php
        -
            message: '#Variable \$setting_page might not be defined#'
            path: src/views/dashboard-notices.php
